
$gap: 1px;
$clr-dark: #0b0d17;
$clr-teal: #d0d6f9;
$clr-white: #ffffff;

$fs-400: 1.125rem;
$fs-500: 1.75em;
$fs-300: 1rem;
$fs-200: 0.875rem;
$fs-600: 2rem;
$fs-700: 3.5rem;
$fs-800: 6.25rem;
$fs-900: 9.375rem;
// --fs-900: clamp(5rem, 7vw + 1rem, 9.375rem);



$heading-1: 150px;
$heading-2: 100px;
$heading-3: 56px;
$heading-4: 32px;
$heading-5: 28px;
$subheading-1: 28px;
$subheading-2: 14px;
$nav-text: 16px;
$body-text: 14px;

// :export {
//     color: $color;
//     primary-color: $primaryColor;
// }


  $ff-serif: "Bellefair", serif;
  $ff-sans-cond: "Barlow Condensed", sans-serif;
  $ff-sans-normal: "Barlow", sans-serif;
