.container{
  padding: 0;
  max-width: 100%;
  margin: auto; 
}

.row{
  display: flex;
  flex-direction: row;
}

.border-red{
  outline: 1px solid red;
}


.border-green{
  outline: 1px solid green;
}


.border-blue{
  outline: 1px solid blue
}