.home {
    background-image: url(../../assets/image/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    overflow: hidden;
    height: 100vh;

    .body-section{
        color: #fff;
        outline: 1px solid red;
        height: 100%;
        margin-top: 2px;

        &--message{
            &__wrapper{
                &--heading{

                }

                &--description{
                    
                }
            }
        }
    }
}

@media screen and (max-width: 768px){

    .home {
    background-image: url(../../assets/image/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    overflow: hidden;
    height: 100vh;
    }
}


@media screen and (max-width: 480px){

    .home {
    background-image: url(../../assets/image/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    overflow: hidden;
    height: 100vh;
    }
}